/* 
Guillaume Comfort, IT202AL, Project 2
CSS file for a Charle's Cooking School, featuring body, header, h1, nav, nav a, and footer styling. 
*/

body {
    background-color:#ffdfbb;
    color:#693a00;
     font-family:'Courier New', Courier, monospace; 
}
header {
    background-color: #ff6e42;
}
h1 {
    line-height: 200%;
}
nav {
    text-align: center;
    font-weight: bold;
}
nav a {
    text-decoration: none;
}
footer {
    background-color:#ff6e42;
    font-size: .60em; 
    text-align: center;
    font-style: italic;
}
